@page
@model DiscussionForum.Pages.Topics.IndexModel
@{
	<div class="container">
		<div class="row pt=4">
			<div class="col-6">
				<h2 class="text-primary">
					All topics
				</h2>
			</div>
			<div class="col-6 text-end">
				
			</div>
		</div>
		<table class="table table-bordered table-striped w-100">
			<thead>
				<tr>
					<th>
						Topic Name
					</th>
				</tr>
			</thead>
			<tbody>
				<!-- I will create a loop here to show the actual data from database-->
				@*@foreach (var obj in Model.objTopicList)
			{
			<tr>
			<td width="50%">@obj.TopicName</td>
			</tr>
			}*@
			</tbody>
		</table>
	</div>
	<!--close container-->

}
